.favorite-link {
  display: inline-block;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #007bff;
  cursor: pointer;
  margin-right: 10px;
}
.favorite-links {
  position: relative;
  top: 400px;
}
.favorite-link:hover {
  background-color: #0062cc;
}

.favSocks-lists {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}
.centered-text {
  font-family: 'Luminari', fantasy;
  font-size: 24px;
  text-align: center;
  margin: 0 auto;
}
nav.navbar {
  background-color: beige !important;
}
.list-container {
  background-image: url('https://pibig.info/uploads/posts/2022-07/1657199744_1-pibig-info-p-bezhevii-tsvet-fon-1.jpg');
}
